*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 88px;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
}

div{
    width: 130px;
    justify-content: center;
    align-items: center;
    margin-top: 25px; ;
    margin-left: 80px;
    
}

div .word__mentor{
    font-size: 30px;
    text-transform:uppercase;
    color: #5fcf80;
font-family: 'Roboto', sans-serif;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: right;
    position: relative;
    bottom: 28px;
    right: 230px;
}

.nav__list li{
    transition: .3s ;
}

.nav__list li:hover{
    color:#5fcf80 ;
}

a,select{
    border: none;
    text-decoration: none;
    color: #6b736e;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}

select:hover{
    color:#5fcf80 ;
}

option{
    color: #6b736e;
    transition: .3s;
}

select.decorated option:hover{
    color: #5fcf80;
}

.btn_div{
    position: relative;
    left: 82%;
    bottom: 99%;
}

.btn{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color:#5fcf80;
    border: none;
    transform: .3s;

}

.btn:hover{
    background-color: #30b458;
}

.btn__word{
    color: white;
}

select{
    border: none;
}
.main_section{
    width: 100%;
    height: 70vh;
}
.main_section .background__image{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.6);

}
.learning{
    width: 700px;
    color: white;
    position: relative;
    bottom: 400px;
    margin-left: 40px;
}
.learning h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.learning p{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    filter: brightness(0.9);
}
.btn_get_started{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background: none;
    transition: .5s;
}
.btn_get{
    color: white;
}
.btn_get_started:hover{
    background-color: #30b458;
}
/*-----end of the header and section's learning class------*/

.about{
    width: 100%;
    height: 70vh;
    display: flex;
}
.about__words{
    width: 40%;
    height: 60vh;
}
.about__words h2{
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.about__words p{
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    filter: brightness(0.9);
}
.about__words .paragraphs{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.faa-regular{
    color: #30b458;
    font-size: 20px;
}

.about_image{
    width: 40%;
    height: 65vh;
}
.about_image .team{
    width: 100%;
    height: 65vh;
    background-size: cover;
}
.counts{
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.125);
}
.counts .numbers{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 50px;
    font-size:50px;
    font-family: 'Roboto', sans-serif;
    color: #30b458;
    position: relative;
    top: 40px;


    }
.counts .numbers:not(.student){
    right: 17px;
}
.counts .titles{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        gap: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        position: relative;
        top: 40px;
    }

.choose__mentor{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
}
.maindiv{
    width: 400px;
    height: 52vh;
    border-radius: 5px;
    background-color: #5fcf80;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.maindiv h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.maindiv p{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.945);
}
.other_div{
    width: 300px;
    height: 260px;
    position: relative;
    right: 40px;
    top: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn_learn_more{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #7fd999;
    transition: .5s;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.btn_learn{
    color: rgba(255, 255, 255, 0.653);
}
.btn_learn_more:hover{
    background-color: white;
}
.btn_learn:hover{
    color: #30b458;
}
.foricon{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ecf9f0;
    text-align: center;
    justify-content: center;
}
.icons,.regular{
    font-size: 35px;
    color: #43b666;
    position: relative;
    top: 22px;
}
.other_div p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.537);
}
#cards{
    width: 100%;
    height: 42vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#cards div{
    width: 280px;
    height: 55px;
    display: flex;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: rgba(128, 128, 128, 0.26);
    align-items: center;
}
.fa-solid{
    font-size: 30px;
}
#cards div .fa-store{
    color: orange;
}
#cards div .fa-chart-column{
    color: blue;
}
#cards div .fa-clipboard-list{
    color: #e80368;
}
#cards div .fa-paint-roller{
    color: #e361ff;
}
#cards div .fa-database{
    color: #47aeff;
}
#cards div .fa-life-ring{
    color: #ffa76e;
}
#cards div .fa-newspaper{
    color:#11dbcf ;
}
#cards div .fa-tags{
    color:darkblue ;
}
#cards div .fa-anchor{
    color: brown;
}
#cards div .fa-compact-disc{
    color: purple;
}
#cards div .fa-tower-cell{
    color: #ff592a;
}
#cards div .fa-fingerprint{
    color: #43b666;
}
#cards div .card__icon{
    transition: .5s;
}
#cards div .card__icon:hover{
    color: #30b458;
}
#cards div:hover{
    border: 1px solid #30b458 ;
}
.space{
    width: 80%;
    height: 50px;
}
.courses {
    width: 100%;
    height: 690px;
}
.courses div{
    width: 80%;
    height: 20px;
}
.courses div .course{
    color: rgba(128, 128, 128, 0.467);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.courses div .course::after{
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 7px;
}
.courses div h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.courses .box1{
    width: 400px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.courses .box2{
    width: 400px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

}
.courses .box3{
    width: 400px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

}
.courses .boxes{
    width: 80%;
    height: 450px;
}
.forspace{
    width: 80%;
    height: 30px;
    background-color: white;
}
.boxes{
    display: flex;
    
}
.website, .search ,.copywriting{
    width: 400px;
    height: 270px;
    background-size: cover;
}
.boxes .web{
    width: 180px;
    height: 30px;
    border: 1px solid black;
    color: white;
    background-color: #5fcf80;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;

}
.boxes .marketing{
    width: 180px;
    height: 30px;
    border: 1px solid black;
    color: white;
    background-color: #5fcf80;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}
.boxes .content{
    width: 180px;
    height: 30px;
    border: 1px solid black;
    color: white;
    background-color: #5fcf80;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;

}
.price{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #161717;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}
.boxes h2{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #37423bbd;
    transition: .5s;
}
.boxes .architecto{
    color: #37423bbd;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.boxes h2:hover{
    color: #30b458;
}
.h_line{
    border-bottom: 1px solid rgba(80, 80, 78, 0.567);
    width: 100%;
    margin: 0 auto;
}
.footer__box{
    display: flex;
    justify-content: left;
    position: relative;
    right: 60px;
}
.footer__box .antonio,.lana,.brandon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
}
.inform{
    width: 80px;
    height: 35px;
    display: flex;
    gap: 8px;
    font-size: 25px;
    margin-right: 110px;
    margin-bottom: 30px;
    color: #37423bbd;
}
/* I passed trainers classes with section tag */
.trainers{
    width: 100%;
    height: 690px;
    display: flex;
}
.trainers_boxes{
    width: 400px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.trainers_photos{
    width:400px ;
    height: 370px;
    background-size: cover;
}
.trainers_inform{
    text-align: center;
    margin: 0 auto;
}
.trainers_inform h2{
    width: 150px;
    height: 40px;
    font-size: 25px;
}
.trainers_inform .web_development{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.trainers_inform .marketing,.content{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.about_trainers{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    padding-left: 5px;
    color: #37423bbd;
}
.social--media{
    font-size: 23px;
    border-radius: 50%;
    gap: 20px;

}
.social--media:hover{
    background-color: #30b458;
}
.mentor{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #f9faf9;
}
.common{
    width:300px;
    height: 250px;
    text-align: center;
}
.personal_inform,.mentor_inform{
    font-family: 'Poppins', sans-serif;
}
.mentor ul{
    list-style: none;
    color: #37423bbd;
    font-size: 15px;
}
.fa-greater-than{
    font-size: 10px;
    color: #43b666;
}
.useful,.our_services{
    line-height: 2.5;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}
.common ul li:hover{
    color: #43b666;
}
.newsletter h4{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 3.5;
}
.newsletter p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #37423bbd;
}
.subscribe{
    margin-top: 30px;
}
.newsletter input{
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}
.newsletter .subscribe{
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #43b666;
    border: none;
}
.newsletter .subscribe:hover{
    background-color: #30b458;
}
footer{
    width: 100%;
    height: 120px;
    background-color: #eef0ef;
    font-family: 'Poppins', sans-serif;
}
footer .copyright{
    width: 250px;
    height: 70px;
    margin:0;
    margin-left: 50px;
    position: relative;
    top: 30px;
}
#social{
    font-size: 30px;
    position: relative;
    bottom: 50px;
    margin-left: 1200px;
    margin-bottom: 30px;
    transition: .5s;
}
#social i:hover{
    color: #30b458;
}







